body{
    margin: 0% 15% 0% 15%;
}
.principal{
    background-color: black;
    padding: 5%;
    color: white;
}
header{
    padding: 5%;
    background-color: rgb(15, 13, 13);
}
.navbar{
    display:flex;
    align-items: center;
}
.navliste{
    list-style: none;
    display: flex;
    gap: 15px;
}
.logo{
    color: orange;
    font-size: 25px;
    font-weight: bold;
}
a{
    text-decoration: none;
    font-size: 15px;
    color: rgb(236, 185, 89);
    font-weight: bold;
}
nav{
    
    gap: 30px;
    justify-content: space-between;
}
.herosection{
    height: 250px;
    background-color: rgb(15, 13, 13);
    border-radius: 10%;
}
h1{
    padding: 10%;
    text-align: center;
    font-size: 35px;
    color: orange;
}
.aboutme{
    display: flex;
}
.texte2{
    animation-name: SlideInFromLeft;
    animation-duration: 3s;
}
.btn1{
    color: orange;
    background-color: rgb(15, 13, 13);
    border-color: rgb(15, 13, 13);
    font-size: 15px;
    padding: 10px;
    border-radius: 10%;
}
h2{
    text-align: center;
    font-size: 30px;
    color: orange;
}
.lesboxes{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
}
.box{
    align-items: center;
    background-color:rgb(15, 13, 13);
    width: 250px;
    text-align: center;
    width: 200px;
    padding: 3%; 
    border-radius: 10%;
    color: white; 
}
.box img{
    background-color: white;
    width: 200px;
    height: 150px;
}
.Compétences{
    padding-top: 5%;
    padding-bottom: 3%;
}
.formulaire{
    text-align: center;
}
form{
    background-color: rgb(15, 13, 13);
    padding: 5%;
    border-radius: 10%;
}
input{
    background-color: rgb(245, 208, 141);
}
textarea{
    background-color: rgb(245, 208, 141);
}
.btn2{
    color: orange;
    background-color: rgb(15, 13, 13);
    border-color: rgb(15, 13, 13);
    font-size: 15px;
    padding: 10px;
    border-radius: 10%;
}
footer{
    margin-top: 40px;
    height: 250px;
    display: flex;
    background-color: rgb(15, 13, 13) ;
    border-radius: 10%;
    justify-content: space-between;
}
.divfooter{
    color: white;
    padding: 5%;
    gap: 15px;
}
.p5{
    font-size: 35px;
    font-weight: bold;
    color: orange;
}
h3{
    color: orange;
}
@media (max-width : 768px){
    .navliste{
        flex-direction: column;
    }
    .aboutme{
        flex-direction: column;
    }
    textarea{
       width: 200px;
    }
    footer{
        flex-direction: column;
        height: 500px;
        text-align: center;
    }
/* }
@keyframes slideInFromLeft{
    from{
        margin-left: -100px;
    }
    to{
        margin-left:0px ;
    }
} */
@keyframes SlideInFromLeft{
    from{
        margin-left:-300px;
    }
    to{
        margin-left: 0px;
    }
}
